.main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 5rem;
}

.list-patient{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.header-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.patient-search{
    display: flex;
    justify-content: space-between;
    background-color: #FFFF;
    padding: .8rem 1.5rem;
    border-radius: 8px;
    width: 220px;
    
    & > input{
        border: none;
        background: none;
        outline: none;
        font-size: .90rem;
    }

    & > i{
        color: var(--text-secondary);
    }
}

.selected-filter{
    background-color: #c0eaf8;
    padding: 5px 12px;
    border-radius: 14px;
    color: #187897;
    font-weight: 600;

}

.tables{
    margin-top: 2rem;
}

.header-tabs{
    display: flex;
    flex-direction: row;
}

.pending-patient{
    font-size: 14px;
    border-radius: 12px;
    color: #ce0606;
    padding: 2px 8px;
    margin: auto;
    background-color: #F5CDCD;
}

.pending-task{
    font-size: 14px;
    border-radius: 12px;
    color: #ffffffb9;
    padding: 2px 8px;
    margin: auto;
    background-color: #666666;
}

.head-tab{
    border-radius: 14px 14px 0px 0px;
    padding: .4rem 1.8rem;
    margin-right: -16px;
    text-align: center;
    background-color: #e0e2e2;
    font-weight: 500;
    color: #666666;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    position: relative;

    & > p{
        margin: 0;
    }
}

.head-tab:nth-of-type(1){
    z-index: 3;
}

.head-tab:nth-of-type(2){
    z-index: 2;
}

.head-tab:nth-of-type(3){
    z-index: 1;
}

.activeTab{
    z-index: 3 !important;
    background-color: white;
}

.tab-content{
    border-radius: 0px 8px 8px 8px;
    padding: 1.5rem;
    background-color: #FFFF;
    max-height: 500px;
    overflow: auto;
    height: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    color: var(--text-secondary);
}

td, th{
    text-align: left;
    padding: 12px 8px;
    font-size: 16px;
}

tr{
    border-bottom: 1px solid var(--borderShadow);
}

span{
    color: var(--text-secondary);
    font-size: 14px;
}

.patient-formdata{
    width: 22%;
    height: 450px;
    padding: 1.5rem;
    border-radius: 14px;
    background-color: #FFFF; 
    
}

.patient-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > p {
        margin: 0;
        font-size: 22px;
    }
}

.inProgress{
    background-color: #e1d89165;
    color: #ff9500;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 14px;
}

.status-completed{
    background-color: #d0edce;
    color: #15a209;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 14px;
}

.btnAction{
    background-color: #492de7;
    border: none;
    color: #FFFF;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 14px;
}

.patient-info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 14px;
}

.patient-data{
    & > p{
        font-size: 15px;
        margin: 0;
    }

    & > label{
        font-weight: 600;
        font-size: 13px;
        color: var(--text-secondary);
    }
}

.patient-health{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.risk, .symptoms{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
